<div class="container">

  <div class="page-header">
    <h1>jsCluster Demo</h1>
    <h3>Find primes</h3>
  </div>

  <div class="row">

    <div class="col-sm-8">
      <form name="jobInputs">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': !jobInputs.center.$valid}">
              <label class="control-label">Center</label>
              <input name="center" type="number" class="form-control" ng-model="main.jobSettings.center" min="{{main.globalSettings.inputs.center.min}}" max="{{main.globalSettings.inputs.center.max}}" required>
              <span class="help-block">The number to center the search around</span>
              <span class="help-block" ng-hide="jobInputs.center.$valid">Must be between {{main.globalSettings.inputs.center.min}} and {{main.globalSettings.inputs.center.max}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': !jobInputs.range.$valid}">
              <label class="control-label">Range</label>
              <input name="range" type="number" class="form-control" ng-model="main.jobSettings.range" min="{{main.globalSettings.inputs.range.min}}" max="{{main.globalSettings.inputs.range.max}}" required>
              <span class="help-block">The amount of numbers to check around the center</span>
              <span class="help-block" ng-hide="jobInputs.range.$valid">Must be between {{main.globalSettings.inputs.range.min}} and {{main.globalSettings.inputs.range.max}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Execution mode</div>
        <ul class="list-group">
          <li class="list-group-item"
          ng-repeat="(mode, description) in main.globalSettings.modes"
          ng-click="main.jobSettings.executionMode = mode"
          ng-class="{active: main.jobSettings.executionMode == mode}"
          >{{description}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-primary btn-lg" ng-click="main.run()" ng-hide="main.currentJob.running" ng-disabled="!jobInputs.$valid">Start</button>
      <button type="button" class="btn btn-danger btn-lg" ng-show="main.currentJob.running">Cancel</button>
    </div>
  </div>

  <div class="panel panel-default history" ng-show="main.jobHistory.length">
    <div class="panel-heading">History</div>
    <table class="table">
      <tr><th>Mode</th><th>Center</th><th>Range</th></tr>
      <tr ng-repeat="job in main.jobHistory">
        <td>{{main.globalSettings.modes[job.settings.executionMode]}}</td>
        <td>{{job.settings.center}}</td>
        <td>{{job.settings.range}}</td>
      </tr>
    </table>
  </div>

</div>
